@page
@model IndexModel // ????
@{
    ViewData["Title"] = "Om sidan";
}

<div>
    <h1 class="display-4">Om sidan</h1><br>
    <p>Jag som har skapat den h채r webbplatsen heter Cecilia Edvardsson och 채r student p책 webbutvecklingsprogrammet p책 Mittuniversitetet.</p>
</div>
