@page
@model IndexModel
@{
    ViewData["Title"] = "Start";
}

<div>
    <h1 class="display-4">Test-webbplats för ASP.NET</h1><br>
    <p>På denna webbplats övas programmering av ASP.NET webb-app</p>
</div>
